```zsh
> neofetch
```

<img align="left" src="https://i.kym-cdn.com/photos/images/original/002/509/036/ee2.gif" alt="Bocchi (https://i.kym-cdn.com/photos/images/original/002/509/036/ee2.gif)" width="320" /> 

```csharp
nuridho-anggit@github
-------------------------
OS: Ubuntu 24.04.1 LTS x86_64
Shell: bash 5.2.21
DE: GNOME 46.0
Kernel: 6.8.0-49-generic
Pronouns: He/Him
Location: Bandung, Indonesia
Frameworks: Hapi
Languages: JavaScript, Python,
           Java
Learning: Node.js, PostgreSQL,
          Docker, Kubernetes, Ansible, DevOps Things
Hobbies: Writing, Gaming, Reading
Commits: {{ totalCommitsInPastYear }}
Discord: nuridho
```
<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  {{ #colors }}<img alt="#{{.}}" src="https://via.placeholder.com/15/{{.}}/000000?text=+" width="25" height="20" />{{ /colors }}
</p>
